/*
основной цвет текста #212121
вторичный цвет текста #57575
цвет акцента  #2196f3
вторичный цвет акцента #ffffff
цвет фона неактивніх кнопок  #f5f4fa
цвет контактов  rgba(255, 255, 255, 0.6);
*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
  --contacts-rgba: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4 {
  margin: 0px;
}
ul {
  list-style-type: none;
  margin: 0px;
}

ul img {
  display: block;
  width: 100%;
  height: auto;
}

.cards-link {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-background-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-end {
  color: var(--primary-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.logo-end-footer {
  color: var(--wite-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-link {
  text-decoration: none;
}

.navigation {
  position: relative;
  display: inline-block;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation.current {
  color: var(--accent-color);
}

.nav-links .navigation::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);

  opacity: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-links .navigation.current::before {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
}

.nav-links .navigation:hover::after {
  opacity: 1;
  transform: scaleX(1);
}

.navigation.contacts {
  display: inline-flex;
  height: auto;
  width: 100%;
  color: var(--secondary-text-color);
  align-items: center;
  align-self: center;
}

.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
}

.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}

.contacts-icon {
  display: inline-flex;
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: var(--primary-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--wite-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.order-link {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 99;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-height: 581px;
  min-width: 528px;
  padding: 0;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--wite-color);
  min-width: 30px;
  min-height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-icone {
  fill: #000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icone,
.modal-close:focus .close-icone {
  fill: var(--accent-color);
}

.form {
  padding: 40px;
  text-align: center;
}

.form > ul {
  padding: 0;
}
.form-list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.form-list > label {
  position: absolute;
  left: 0;
  top: -18px;
  display: inline-flex;
  /* justify-content: left; */
  /* margin-bottom: 4px; */
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}

.form-list > input {
  padding: 12px 12px 12px 42px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);

  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-list > input:hover,
.form-list > input:focus,
.form-list > .comment:hover,
.form-list > .comment:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-list > input:hover + .input-icon,
.form-list > input:focus + .input-icon {
  fill: #2196f3;
}

.offer {
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check:checked + .check-icon {
  transform: scale(1.2);
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}
.check-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8.38px;

  border: 2.5px solid var(--primary-text-color);
  border-radius: 2px;
  cursor: pointer;

  transition: transform 250ms linear;
}

.offer-link {
  color: var(--accent-color);
}

.comment {
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:placeholder-shown {
  color: rgba(117, 117, 117, 0.5);
}

.appeal {
  display: inline-block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
}

.submit {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-left: auto;
  /* margin-right: auto; */
  margin-top: 30px;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tertiary-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-top: 0px;
  margin-bottom: 50px;
  text-align: center;
}

.teams-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18x;
}

.button {
  background: var(--secondary-background-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
  border-radius: 4px;
  border: none;
}

/* .hover-cards:hover,
.hover-cards:focus, */
.button:hover,
.button:focus,
.button:active,
.button:visited {
  background-color: var(--accent-color);
  color: var(--wite-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-items {
  color: var(--secondary-text-color);
}

.advantage-list p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.advantage-list .cards-items {
  font-size: 14px;
  line-height: 1.71;
}
.our-team .cards-items {
  font-size: 16px;
}

.portfolio .cards-items {
  font-size: 16px;
  line-height: 1.8;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay::before {
  display: inline-block;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hover-cards {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  line-height: 1.56;
  color: var(--wite-color);

  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio > .items:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio > .items:hover .hover-cards,
.portfolio > .items:hover .portfolio-overlay::before {
  transform: translatey(0%);
  opacity: 1;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examles-sct {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  background-color: var(--secondary-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer-bg {
  background: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  color: var(--wite-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 20px;
}
.footer-adress-text {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-adress-text > div:first-child {
  margin-right: 70px;
}

.footer-link {
  display: inline-block;
  color: var(--contacts-rgba);
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 9px;
}

.common {
  color: var(--wite-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-common .social-link {
  display: inline-flex;
  height: 44px;
  width: 44px;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--wite-color);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-form {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

.subscription {
  position: relative;
  margin-right: 12px;
}

.sub-text {
  position: absolute;
  top: -36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;

  color: #ffffff;
}

.subscription > input {
  width: 360px;
  height: 50px;
  padding: 11px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  color: #ffffff;
  cursor: pointer;
  border: transparent;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.sub-icon {
  fill: var(--wite-color);
  margin-left: 10px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  border-bottom: 1px solid #ececec;
  /* padding-bottom: 25px;
  padding-top: 24px; */
}

header > .container {
  display: flex;
}
.nav-links {
  display: flex;
  align-items: center;
  padding: 0;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-list {
  margin-left: 50px;
  align-items: stretch;
}

.nav-links > .header-list:first-child {
  margin-left: 0px;
  margin-right: 93px;
}

.advantages {
  padding-top: 94px;
}

.advantage-list {
  display: flex;
  padding: 0px;
}

.advantage-list > li {
  width: calc((100% - 90px) / 4);
  margin-left: 30px;
}
.advantage-list > li:first-child {
  margin-left: 0px;
}

.advant-icon {
  width: 70px;
  height: 70px;
}

.advantages-icons-bg {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.social-links-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 16px;
}

.social-links-flex > li {
  width: calc((100% - 30px) / 4);
  margin-right: 10x;
}

.social-links-flex > li:last-child {
  margin-right: 0;
}

.social-link {
  display: inline-flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: space-around;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-icon {
  width: 20px;
  height: 20px;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: var(--wite-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.clients-list > .items {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
}
.clients-list > .items:last-child {
  margin-right: 0px;
}
.clients-links {
  display: inline-flex;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: space-around;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover,
.clients-links:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  fill: var(--accent-color);
}

.flex-list {
  display: flex;
  padding: 0px;
  margin-bottom: 50px;
  justify-content: center;
}
.flex-list > li {
  margin-left: 8px;
}

.portfolio-screen {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
}
.portfolio > .items {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--wite-color);
  border: 1px solid #eeeeee;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio > .items:nth-child(3n) {
  margin-right: 0px;
}

.portfolio > .items:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio p {
  margin-bottom: 0px;
}
p + h3 {
  margin-bottom: 0px;
}

.items-description {
  padding: 20px 24px 20px 24px;
}

.work-examples {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.work-examples > li {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.work-examples > li:first-child {
  margin-left: 0px;
}

.work-examples-overlay {
  position: relative;
}

.work-examples-descriptions {
  position: absolute;
  display: inline-flex;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  color: var(--wite-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.team-list > li {
  width: calc((100% - 60px) / 3);
  margin-left: 30px;
  text-align: center;
  background-color: var(--wite-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list > li:first-child {
  margin-left: 0px;
}

.team-descrition {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.team-descrition p {
  margin-top: 10px;
  margin-bottom: 0px;
}
/* section,
ul,
div {
  outline: 2px solid rgb(73, 238, 216);
} */
