.social-links-flex {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin-top: 16px;

  & > li {
    width: calc((100% - 30px) / 4);
    margin-right: 10x;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social-link {
  @extend %socLink;
  justify-content: space-around;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    border-radius: 50%;
    fill: $wite-color;
  }
}

.social-link-icon {
  width: 20px;
  height: 20px;
}
