.hero {
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background-color: $primary-background-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: $wite-color;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.order-link {
  @extend %indexButton;
  padding: 10px 32px;
  &:focus,
  &:hover {
    background-color: $wite-color;
    color: $accent-color;
  }
}
