.footer-bg {
  background: $primary-background-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  color: $wite-color;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  padding-top: 20px;
}

.footer-adress-text {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;

  & > div:first-child {
    margin-right: 70px;
  }
}

.footer-link {
  display: inline-block;
  color: $contacts-rgba;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 9px;
}

.common {
  color: $wite-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-common .social-link {
  @extend %socLink;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.1);
  fill: $wite-color;
  margin-right: 10px;
}

.footer-form {
  margin-left: 93px;
  display: flex;
  align-items: center;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0px 1000px $primary-background-color inset;
}

.subscription {
  position: relative;
  margin-right: 12px;
  & > input {
    width: 360px;
    height: 50px;
    padding: 11px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    background-color: $primary-background-color;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
  }
}

.sub-text {
  position: absolute;
  top: -36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;

  color: #ffffff;
}

.sub-icon {
  fill: $wite-color;
  margin-left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  @extend %indexButton;
  padding: 10px 28px;
  &:hover {
    background-color: $wite-color;
    color: $accent-color;
    & .sub-icon {
      fill: $accent-color;
    }
  }
}
