header {
  border-bottom: 1px solid #ececec;
  height: 60px;
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    & {
      height: 80px;
      padding: 0;
    }
  }

  & > .container {
    display: flex;
    align-items: center;
  }
}
.menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 12px 8px;
  background-color: $wite-color;
  border: none;
  outline: none;
  &:hover .menu-icon,
  &:focus .menu-icon {
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    & {
      display: none;
    }
  }
}

.menu-button .icon-close {
  opacity: 0;
}

.menu-button.is-open .icon-close {
  opacity: 1;
}
.menu-button.is-open .icon-menu {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .top {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}

.header-contacts {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
  }

  // font-weight: 500;
  // font-size: 12px;
  // line-height: 1.15;
  // letter-spacing: 0.02em;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 305px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

.navigation {
  position: relative;
  display: inline-block;
  color: $primary-text-color;
  text-decoration: none;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    color: $accent-color;
  }

  &.contacts {
    display: inline-flex;
    height: auto;
    width: 100%;
    color: $secondary-text-color;
    font-size: 12px;
    line-height: 1.16;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 0;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      & {
        flex-wrap: wrap;
      }
    }
    @media screen and (min-width: 1200px) {
      & {
        display: flex;
        margin-left: 30px;
        align-items: center;
        flex-wrap: nowrap;
      }
    }
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-links > .header-list {
  margin-left: 50px;
  align-items: stretch;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-links {
  display: flex;
  align-items: center;
  padding: 0;

  & > .header-list:first-child {
    margin-left: 0px;
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  & .navigation {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
      opacity: 1;
      transform: scaleX(1);
    }

    &.current::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 5px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 1;
    }
  }
}
.contacts-icon {
  display: inline-flex;
  margin-right: 8px;
  fill: currentColor;
}

.mobile-menu {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  padding: 60px;

  opacity: 0;
  visibility: hidden;
  z-index: 99;

  & .navigation {
    font-size: 18px;
    line-height: 1.166;
    padding: 8px 0;
  }

  & .mobile-nav > .navigation {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 0;
      transform: scaleX(0);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
      opacity: 1;
      transform: scaleX(1);
    }

    &.current::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 1;
    }
  }
}

.mobile-nav:not(:nth-child(3n)) {
  margin-bottom: 40px;
}
.mobile-menu-list .mobile-nav-phone {
  margin-top: 60px;
  margin-bottom: 16px;
  & .navigation {
    padding: 0;
  }
}
.mobile-menu-list .mobile-nav-mail {
  & .navigation {
    padding: 0;
  }
}
.mobile-menu.is-open {
  @media screen and (max-width: 767px) {
    opacity: 1;
    visibility: visible;
  }
}
