.logo {
  color: $accent-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-end {
  color: $primary-text-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}
.logo-end-footer {
  color: $wite-color;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.logo-link {
  text-decoration: none;
}
