.cards-link {
  display: inline-block;
  text-decoration: none;
  color: $primary-background-color;
}

.portfolio .cards-items {
  font-size: 16px;
  line-height: 1.8;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;

  &::before {
    display: inline-block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    opacity: 0;

    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.hover-cards {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  line-height: 1.56;
  color: $wite-color;

  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio > .items:hover {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  & .hover-cards,
  & .portfolio-overlay::before {
    transform: translatey(0%);
    opacity: 1;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-screen {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio {
  @extend %flexList;
  flex-wrap: wrap;

  & > .items {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: $wite-color;
    border: 1px solid #eeeeee;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3n) {
      margin-right: 0px;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0px;
    }
  }
  & p {
    margin-bottom: 0px;
  }
}

p + h3 {
  margin-bottom: 0px;
}
.items-description {
  padding: 20px 24px 20px 24px;
}
