.our-team {
  background-color: $secondary-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
  & .cards-items {
    font-size: 16px;
  }
}

.teams-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18x;
}

.team-list {
  @extend %flexList;
  & > li {
    width: calc((100% - 60px) / 3);
    margin-left: 30px;
    text-align: center;
    background-color: $wite-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:first-child {
      margin-left: 0px;
    }
  }
}

.team-descrition {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  & p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
