.hero {
  width: 100%;
  height: auto;
  text-align: center;
  background-color: $primary-background-color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  padding: 100px 0;

  @media screen and (max-width: 767px) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/mobile/hero-mob.jpg);
      max-width: 100%;
      height: 400px;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero-tab.jpg);
      max-width: 768px;
      height: 400px;
      padding-top: 118px;
      padding-bottom: 118px;
    }
  }

  @media screen and (min-width: 1200px) {
    & {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg.jpg);
      max-width: 1600px;
      height: 600px;
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
}

.hero-title {
  color: $wite-color;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
    margin-bottom: 40px;
  }
}

.order-link {
  @extend %indexButton;
  padding: 10px 32px;
  &:focus,
  &:hover {
    background-color: $wite-color;
    color: $accent-color;
  }
}
